body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: midnightblue;
}

button {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: white;
  cursor: pointer;
  font-size: 15px;
  font-weight: 100;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color: lightblue;
}

.operation-button.active {
  background-color: lightcoral;
  border-color: lightcoral;
}

.calculator-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  padding: 3rem;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator {
    margin: 5px;
}

.calculator button {
    margin: 5px;
}

.mode-info {
  padding: 10px;
  min-width: 250px;
  text-align: center;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.inputs input {
  font-size: 1rem;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin: 8px 0;
}

.inputs input:focus {
  outline: none;
  border-color: rebeccapurple;
}

.operation-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 2px;
  margin-top: 1rem;
}

.action-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 10px;
}

.summary-container {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 100%;
    padding: 5px;
    height: 2rem;
}

.result {
  font-weight: 200;
  font-size: 1.5rem;
  padding-top: 15px;
  padding-bottom: 15px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}





.toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}


.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
