body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calculator input {
    margin: 5px;
}

.calculator button {
    margin: 5px;
}

.buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 10px;
}

#summary {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.25rem;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}